@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: Vollkorn, serif;
  line-height: 1.3;
  font-weight: var(--weight-regular);
  color: var(--text-color);
}
