@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  font-weight: var(--weight-regular);
  color: var(--text-color);
}

/*HEADER*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
}

.logo-container {
  background-color: black;
  display: flex;
  align-items: center;
  height: 10rem;
}

.header-title {
  font-family: mexcellent;
  color: var(--main-color);
  font-size: 2.6rem;
  padding-right: 6rem;
}

.nav-container {
  width: 60rem;
}

.header-img {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: #4f4f4f;
  font-weight: bold;
}

.black-stroke {
  height: 100%;
  width: .5rem;
  background-color: black;
  margin-right: -2rem;
}

.link-1 {

  &::before {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-image: url(../assets/img/marker.svg);
  }
}

br {
  line-height: 4rem;
}

span {
  font-weight: bold;
}

h3 {
  margin-bottom: 3rem;
  font-size: 4rem;
  padding: 1rem 3rem;
  display: inline-block;
  font-family: mexcellent;
}

.nav-mobile {
  display: none;
}

.nav {
  position: fixed;
  z-index: 99;
  background-color: white;
  width: 100vw;
  margin-top: -10rem;
}

.title_black {
  background-color: black;
  color: white;
  box-shadow: -.6rem .6rem var(--main-color);
}

.title_geel {
  background-color: var(--main-color);
  color: black;
  box-shadow: -.6rem .6rem white;
}

.title_geel2 {
  background-color: var(--main-color);
  color: black;
  box-shadow: -.6rem .6rem black;
}

.title_wit {
  background-color: white;
  color: black;
  box-shadow: -.6rem .6rem black;
}

.width {
  padding: 5rem 5vw;
}

.txt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 30vw;
}

.button {
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  display: inline-block;
  border: none;
  margin-top: 5rem;

  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 5rem;
  color: black;
}

.button_wit {
  background-color: white;
  transition: .3s all;
}

.button_wit:hover {
  background-color: black;
  color: white;
  transition: .3s all;
}

.highlight {
  background-color: var(--main-color);
}

.highlightblack {
  color: var(--main-color);
}

.button_geel {
  background-color: var(--main-color);
}

.button_geel:hover {
  background-color: black;
  color: white;
}

.secondLink {
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  margin-top: 2rem;
}

.secondLink:hover {
  color: white;
}

.header {
  background-color: var(--main-color);
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  padding-top: 15rem;
  margin-top: 10rem;
  padding-bottom: 10rem;
  background-image: url(../assets/img/headerbgtop.png), url(../assets/img/headerbgbot.png), url(../assets/img/hoekje.svg);
  background-position: left -2%, left 105%, 5% 15%;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;

  & h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.headerpicture {
  position: absolute;
  right: 5rem;
  bottom: 10%;
}

.headertxt {
  z-index: 1;
  margin-left: 5rem;
  padding-top: 0;
}

.scanBillboard {
  background-image: url(../assets/img/dotsbg.png);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 10rem;

  & .scanpicture {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.scanpicture {
  width: 45.5rem;
  height: 42.2rem;

  & img {
    width: 100%;
    height: 100%;
  }
}

.howTo {
  position: absolute;
  top: -2rem;
  right: 0;
  background-color: black;
  color: white;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  box-shadow: -.8rem .8rem var(--main-color);
}

.scanBillboardtxt {
  width: 50vw;
}

.kiesKunststuk {
  display: flex;
  color: white;
  background-color: black;
  text-align: right;
  justify-content: space-between;
  background-image: url(../assets/img/lines_white.png);
  background-position: 95% 170%;
  background-repeat: no-repeat;
}

.kunstenaarVrij {
  display: flex;
  justify-content: space-between;
  background-image: url(../assets/img/dotsbg.png);
  align-items: center;
  position: relative;
  /* overflow: hidden; */
  padding-bottom: 15rem;

  & img {
    position: absolute;
    bottom: -7rem;
    right: 0;
    padding-top: 10rem;
  }
}

.boijmansCollectie {
  background-color: var(--main-color);
  padding-top: 10rem;
  background-image: url(../assets/img/bg_cirkel.svg), url(../assets/img/bg_cirkel2.svg);
  background-repeat: no-repeat;
  background-position: bottom -50rem right, left top;

  & h3 {
    text-align: right;
  }
}

.wordDeel {
  display: flex;
  justify-content: space-between;

  & img {
    margin-right: 5rem;
  }
}

.spotlight {
  text-align: center;
  margin-top: 5rem;

  & h3 {
    text-align: center;
    display: block;
  }

  /* & a {
    text-align: center;
    display: inline-block;
  } */
}

/* KUNSTWERKEN */

.pagHeader {
  background-color: var(--main-color);
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url(../assets/img/headerbg.svg);
  background-position: right;
  margin-top: 10rem;

  & h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.kunstwerken {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.kunstwerk {
  position: relative;
  text-align: center;

  & img {
    border-radius: 1rem;
  }
}

.kunstwerkInfo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.4rem;
  text-align: left;
}

.kunstwerkName {
  text-align: center;
  margin-top: -5rem;
}

.kunstwerk_button {
  background-color: var(--main-color);
  color: black;
  margin-top: 0;
  padding: 1rem 2rem;
  border: .5rem solid white;
}

/* QRREADER */

.qrreader {
  display: none;
}

@media (max-width: 1100px) {

  .headerpicture {
    right: -3rem;
  }
}

@media (max-width: 930px) {

  .headerpicture {
    display: none;
  }

  .headertxt {
    width: 100vw;
  }

  .scanBillboardtxt {
    width: 90vw;
  }

  .scanBillboard {
    display: flex;
    flex-direction: column;
    height: 70rem;
  }

  .scanpicture {
    width: 35.5rem;
    height: 32.2rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-mobile {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    display: flex;
    height: 10rem;
  }

  .nav-list-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }

  .header-container {
    display: none;
  }

  .header {
    margin-top: 0;
  }

  .qrreader {
    display: block;
  }
}

@media (max-width: 700px) {

  .kiesKunststuk {
    flex-direction: column-reverse;
    align-items: center;

  }

  .txt {
    width: 80vw;
  }

  .nav-mobile {
    display: inline;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100vw;
  }

  .nav {
    display: none;
  }
}

@media (max-width: 600px) {

  .scanBillboard {
    display: flex;
    flex-direction: column;
    height: 80rem;
  }
}
