:root {
  --main-color: #ffd952;
  --main-color-light: #fff9c4;
  --text-color: black;
  --text-grey: #6d6d6d;
  --beige-color: #f9f7f4;
  --gray-light-color: #d2d2d2;
  --weight-regular: 400;
  --weight-bold: 700;
}
